*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    color: black;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}

.logo{
    padding: 20px 0;
    cursor: pointer;
    display: flex;
}

.logo .name{
    display: inline;
    margin: 10px;
    background: linear-gradient(to left, #cf3c8a, #7a6ab3, #219adf);
    -webkit-background-clip: text;
    color: transparent;
}


.logo-img{
    width: 50px;

}

.main-content{
    top: 30%;
    left: 40%;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    padding: 50px;
    padding-top: 100px;
    box-shadow: 0px 0px 25px orangered;
}

.main-content h1{
    font-size: 45px;
    font-weight: 600;
    margin-left: -10px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img{
    width: 30px;
    margin: 15px;
    margin-top: 30px;
    cursor: pointer;
}


.buttons img:nth-child(2){
    width: 50px;
}

.rocket{
    width: 200px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}


@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }

    100%{
        bottom: 105%;
        opacity: 1;
    }
    
}