body{
    height: 100%;
    background-color:bisque;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    width: 20%;
    height: 520px;
    text-align: center;
    background-color: rgb(55, 58, 59);
    margin-left: 35%;
    margin-top: 40px;
    color: wheat;
    border-radius: 10px;
    padding-top: 5px;
}

.result{
    height: 180px;
    width: 90%;
    margin-bottom: 10px;
    border: #FFFDD0;
    border-radius: 5px;
    background-color: #FFFDD0;
    cursor: text;
}

.functions{
    height: 255px;
    padding-top: 10px;
    background-color: rgb(83, 90, 92);
    margin-top: 5px;
    border-radius: 10px;
}

button{
    padding: 5px;
    border: #FFFDD0;
    border-radius: 10%;
    margin: 3px;
    width: 60px;
    height: 40px;
    background-color: #FFFDD0;
    color: black;
    font-size: medium;
}

button:hover{
    color: green;
    cursor: pointer;
    background-color: greenyellow;
}


.zero{
    width: 130px;
    border-radius: 5px;
}

.major{
    color: red;
}

.major:hover{
    background-color: red;
    color: white;
}


span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
}