*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

body{
    background: url(bg.jpg);
    background-size: cover;
}

.navbar-container{
    padding: 30px;

}

.logo{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 35px;
}

.fa-user-graduate{
    padding: 5px;
}


.left{
    display: inline-block;
    margin-left: 30px;
    padding: 3px;
}

.right{
    display: inline-block;
    margin-left: 40%;
}


.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 15px 30px;
}

.main{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.main-left{
    margin: 50px;
    padding: 50px;
}

.contact-heading{
    font-size: 80px;
}

.message{
    width: 60%;
    margin: 30px 0 0 80px;
}

input{
    display: block;
    margin: 30px 0 0 80px;
    width: 60%;
    height: 30px;
    background-color: #fff;
    color: gray;
    padding: 5px;
    border-radius: 3px;
}

input:focus{
    outline: none;
}


.btn{
    display: block;
    margin: 30px 0 0 80px;
    width: 60%;
    height: 40px;
    border: none;
    background-color: #545557;
    border-radius: 5px;
    cursor: pointer;
}

.fa{
    margin-right: 5px;
    background-color: #545557;
}

.main-right{
    margin: 50px;
    padding: 50px;

}


.main-right h3{
    color: #0ee36d;
    margin-bottom: 10px;
}

.support-heading, .addressh-heading{
    margin-top: 30px;
}

.social-icon{
    margin-top: 50px;
}

.social{
    padding-right: 50px;
    cursor: pointer;
}

.fa-linkedin{
    color:  #0A66C2;
}

.fa-twitter{
    color:#00acee;
}

.fa-facebook-f{
    color: #4267B2;
}

.fa-basketball{
    color: #ea4c89;
}