*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

.container{
    width: 400px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 16px 6px #111;
}

.header{
    background-color: #ff7500;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 15rem;
    position: relative;
}

h1{
    position: absolute;
    font-size: 3rem;
    top: 4rem;
    margin-left: 2rem;
    line-height: 3rem;
}

.logo-img{
    height: 20rem;
    position: absolute;
    bottom: 0;
}

table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #16181e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.details{
    text-align: left;
}

thead{
    font-size: 10px;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
}

th, td{
    padding: 10px;
}

table tr:nth-child(even){background-color: #1f232c;}


.image > img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

p{
    font-size: 10px;
    margin: 5px;
}