@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 370px;
}

.wrapper .title {
    background:yellowgreen;
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
}

.icons{
    float: right;
    font-size: 15px;
    margin-top: 7px;
    cursor: pointer;
}

.fa-bell{
    padding: 10px;
}

.fa-phone{
    padding: 10px;
}

.fa-circle-info{
    padding: 10px;
}

.user-pic{
    height: 40px;
    width: 40px;
    padding: 5px;
    float: left;
    margin: 5px 5px 0 10px;
}

.wrapper .box {
    border: 1px solid #efefef;
    padding: 10px 15px;
    min-height: 400px;
    max-height: 400px;
}

.wrapper .box .item {
    display: flex;
    float: left;
    margin: 10px 0;
}

.wrapper .box .item .icon {
    background: yellowgreen;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .item .msg {
    border: 1px solid grey;
    color: grey;
    border-radius: 10px;
    width: 200px;
    margin-left: 10px;
}

.wrapper .box .item .msg p {
    padding: 10px;
}

.wrapper .box .item.right {
    float: right;
}

.wrapper .box .item.right .msg {
    background: #efefef;
    color: #333;
}

.wrapper .typing-area {
    width: 100%;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper .typing-area .input-field {
    width: 100%;
    position: relative;
}

.wrapper .typing-area .input-field input {
    width: 80%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field input:focus {
    border-color: #007bff;
}

.fa-share{
    margin-left: 10px;
}

.fa-share:hover{
    cursor: pointer;
    color: green;
}

.fa-paperclip{
    margin-right: 10px;
    cursor: pointer;
}

.fa-paperclip:hover{
    color: lightskyblue;
}